---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/user/repos?page=1&per_page=2&visibility=public
        method: GET
      response:
        body: '[{"id":235897940,"node_id":"MDEwOlJlcG9zaXRvcnkyMzU4OTc5NDA=","name":".github","full_name":"actionshub/.github","private":false,"owner":{"login":"actionshub","id":59490345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU5NDkwMzQ1","avatar_url":"https://avatars.githubusercontent.com/u/59490345?v=4","gravatar_id":"","url":"https://api.github.com/users/actionshub","html_url":"https://github.com/actionshub","followers_url":"https://api.github.com/users/actionshub/followers","following_url":"https://api.github.com/users/actionshub/following{/other_user}","gists_url":"https://api.github.com/users/actionshub/gists{/gist_id}","starred_url":"https://api.github.com/users/actionshub/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/actionshub/subscriptions","organizations_url":"https://api.github.com/users/actionshub/orgs","repos_url":"https://api.github.com/users/actionshub/repos","events_url":"https://api.github.com/users/actionshub/events{/privacy}","received_events_url":"https://api.github.com/users/actionshub/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/actionshub/.github","description":"Community Health Files for Actionshub repos","fork":false,"url":"https://api.github.com/repos/actionshub/.github","forks_url":"https://api.github.com/repos/actionshub/.github/forks","keys_url":"https://api.github.com/repos/actionshub/.github/keys{/key_id}","collaborators_url":"https://api.github.com/repos/actionshub/.github/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/actionshub/.github/teams","hooks_url":"https://api.github.com/repos/actionshub/.github/hooks","issue_events_url":"https://api.github.com/repos/actionshub/.github/issues/events{/number}","events_url":"https://api.github.com/repos/actionshub/.github/events","assignees_url":"https://api.github.com/repos/actionshub/.github/assignees{/user}","branches_url":"https://api.github.com/repos/actionshub/.github/branches{/branch}","tags_url":"https://api.github.com/repos/actionshub/.github/tags","blobs_url":"https://api.github.com/repos/actionshub/.github/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/actionshub/.github/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/actionshub/.github/git/refs{/sha}","trees_url":"https://api.github.com/repos/actionshub/.github/git/trees{/sha}","statuses_url":"https://api.github.com/repos/actionshub/.github/statuses/{sha}","languages_url":"https://api.github.com/repos/actionshub/.github/languages","stargazers_url":"https://api.github.com/repos/actionshub/.github/stargazers","contributors_url":"https://api.github.com/repos/actionshub/.github/contributors","subscribers_url":"https://api.github.com/repos/actionshub/.github/subscribers","subscription_url":"https://api.github.com/repos/actionshub/.github/subscription","commits_url":"https://api.github.com/repos/actionshub/.github/commits{/sha}","git_commits_url":"https://api.github.com/repos/actionshub/.github/git/commits{/sha}","comments_url":"https://api.github.com/repos/actionshub/.github/comments{/number}","issue_comment_url":"https://api.github.com/repos/actionshub/.github/issues/comments{/number}","contents_url":"https://api.github.com/repos/actionshub/.github/contents/{+path}","compare_url":"https://api.github.com/repos/actionshub/.github/compare/{base}...{head}","merges_url":"https://api.github.com/repos/actionshub/.github/merges","archive_url":"https://api.github.com/repos/actionshub/.github/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/actionshub/.github/downloads","issues_url":"https://api.github.com/repos/actionshub/.github/issues{/number}","pulls_url":"https://api.github.com/repos/actionshub/.github/pulls{/number}","milestones_url":"https://api.github.com/repos/actionshub/.github/milestones{/number}","notifications_url":"https://api.github.com/repos/actionshub/.github/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/actionshub/.github/labels{/name}","releases_url":"https://api.github.com/repos/actionshub/.github/releases{/id}","deployments_url":"https://api.github.com/repos/actionshub/.github/deployments","created_at":"2020-01-23T22:18:27Z","updated_at":"2023-01-24T14:27:52Z","pushed_at":"2023-10-11T10:46:58Z","git_url":"git://github.com/actionshub/.github.git","ssh_url":"git@github.com:actionshub/.github.git","clone_url":"https://github.com/actionshub/.github.git","svn_url":"https://github.com/actionshub/.github","homepage":"https://help.github.com/en/articles/creating-a-default-community-health-file-for-your-organization","size":6,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":false,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["community-health","github","terraform-managed"],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":232518259,"node_id":"MDEwOlJlcG9zaXRvcnkyMzI1MTgyNTk=","name":"actionshub","full_name":"actionshub/actionshub","private":false,"owner":{"login":"actionshub","id":59490345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU5NDkwMzQ1","avatar_url":"https://avatars.githubusercontent.com/u/59490345?v=4","gravatar_id":"","url":"https://api.github.com/users/actionshub","html_url":"https://github.com/actionshub","followers_url":"https://api.github.com/users/actionshub/followers","following_url":"https://ap[...]
