---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic UExBQ0VIT0xERVI6UExBQ0VIT0xERVI=
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/users/xorima/repos?page=1&per_page=2&visibility=public
        method: GET
      response:
        body: '[{"id":594364997,"node_id":"R_kgDOI21KRQ","name":"addlicense","full_name":"xorima/addlicense","private":false,"owner":{"login":"xorima","id":4923914,"node_id":"MDQ6VXNlcjQ5MjM5MTQ=","avatar_url":"https://avatars.githubusercontent.com/u/4923914?v=4","gravatar_id":"","url":"https://api.github.com/users/xorima","html_url":"https://github.com/xorima","followers_url":"https://api.github.com/users/xorima/followers","following_url":"https://api.github.com/users/xorima/following{/other_user}","gists_url":"https://api.github.com/users/xorima/gists{/gist_id}","starred_url":"https://api.github.com/users/xorima/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/xorima/subscriptions","organizations_url":"https://api.github.com/users/xorima/orgs","repos_url":"https://api.github.com/users/xorima/repos","events_url":"https://api.github.com/users/xorima/events{/privacy}","received_events_url":"https://api.github.com/users/xorima/received_events","type":"User","site_admin":false},"html_url":"https://github.com/xorima/addlicense","description":"A program which ensures source code files have copyright license headers by scanning directory patterns recursively","fork":true,"url":"https://api.github.com/repos/xorima/addlicense","forks_url":"https://api.github.com/repos/xorima/addlicense/forks","keys_url":"https://api.github.com/repos/xorima/addlicense/keys{/key_id}","collaborators_url":"https://api.github.com/repos/xorima/addlicense/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/xorima/addlicense/teams","hooks_url":"https://api.github.com/repos/xorima/addlicense/hooks","issue_events_url":"https://api.github.com/repos/xorima/addlicense/issues/events{/number}","events_url":"https://api.github.com/repos/xorima/addlicense/events","assignees_url":"https://api.github.com/repos/xorima/addlicense/assignees{/user}","branches_url":"https://api.github.com/repos/xorima/addlicense/branches{/branch}","tags_url":"https://api.github.com/repos/xorima/addlicense/tags","blobs_url":"https://api.github.com/repos/xorima/addlicense/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/xorima/addlicense/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/xorima/addlicense/git/refs{/sha}","trees_url":"https://api.github.com/repos/xorima/addlicense/git/trees{/sha}","statuses_url":"https://api.github.com/repos/xorima/addlicense/statuses/{sha}","languages_url":"https://api.github.com/repos/xorima/addlicense/languages","stargazers_url":"https://api.github.com/repos/xorima/addlicense/stargazers","contributors_url":"https://api.github.com/repos/xorima/addlicense/contributors","subscribers_url":"https://api.github.com/repos/xorima/addlicense/subscribers","subscription_url":"https://api.github.com/repos/xorima/addlicense/subscription","commits_url":"https://api.github.com/repos/xorima/addlicense/commits{/sha}","git_commits_url":"https://api.github.com/repos/xorima/addlicense/git/commits{/sha}","comments_url":"https://api.github.com/repos/xorima/addlicense/comments{/number}","issue_comment_url":"https://api.github.com/repos/xorima/addlicense/issues/comments{/number}","contents_url":"https://api.github.com/repos/xorima/addlicense/contents/{+path}","compare_url":"https://api.github.com/repos/xorima/addlicense/compare/{base}...{head}","merges_url":"https://api.github.com/repos/xorima/addlicense/merges","archive_url":"https://api.github.com/repos/xorima/addlicense/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/xorima/addlicense/downloads","issues_url":"https://api.github.com/repos/xorima/addlicense/issues{/number}","pulls_url":"https://api.github.com/repos/xorima/addlicense/pulls{/number}","milestones_url":"https://api.github.com/repos/xorima/addlicense/milestones{/number}","notifications_url":"https://api.github.com/repos/xorima/addlicense/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/xorima/addlicense/labels{/name}","releases_url":"https://api.github.com/repos/xorima/addlicense/releases{/id}","deployments_url":"https://api.github.com/repos/xorima/addlicense/deployments","created_at":"2023-01-28T10:16:35Z","updated_at":"2023-01-27T00:50:25Z","pushed_at":"2023-01-28T10:17:30Z","git_url":"git://github.com/xorima/addlicense.git","ssh_url":"git@github.com:xorima/addlicense.git","clone_url":"https://github.com/xorima/addlicense.git","svn_url":"https://github.com/xorima/addlicense","homepage":"","size":107,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":false,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"apache-2.0","name":"Apache License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":307114087,"node_id":"MDEwOlJlcG9zaXRvcnkzMDcxMTQwODc=","name":"changelog_reset","full_name":"xorima/changelog_reset","private":false,"owner":{"login":"xorima","id":4923914,"node_id":"MDQ6VXNlcjQ5MjM5MTQ=","avatar_url":"https://avatars.githubusercontent.com/u/4923914?v=4","gravatar_id":"","url":"https://api.github.com/users/xorima","html_url":"https://github.com/xorima","followers_url":"https://api.github.com/users/xorima/followers","following_url":"https://api.github.com/users/xorim[...]
