name: update go-github version

"on":
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  update-version:
    if: github.event.pull_request.user.login == 'renovate'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Extract version numbers from PR title
        id: extract_versions
        run: |
          PR_TITLE="${{ github.event.pull_request.title }}"
          OLD_VERSION=$(echo $PR_TITLE | grep -oP 'v\d+' | head -1)
          NEW_VERSION=$(echo $PR_TITLE | grep -oP 'v\d+' | tail -1)
          
          echo "Old version: $OLD_VERSION"
          echo "New version: $NEW_VERSION"
          
          echo "::set-output name=old_version::$OLD_VERSION"
          echo "::set-output name=new_version::$NEW_VERSION"

      - name: Replace version in files
        run: |
          grep -rl "${{ steps.extract_versions.outputs.old_version }}" . | xargs sed -i 's/${{ steps.extract_versions.outputs.old_version }}/${{ steps.extract_versions.outputs.new_version }}/g'

      - name: go mod tidy
        run: |
          go mod tidy

      - name: Commit Changes to actions.yml
        uses: EndBug/add-and-commit@v9
        with:
          message: "fix(deps) Update go-github refs from ${{ steps.extract_versions.outputs.old_version }} to ${{ steps.extract_versions.outputs.new_version }}"
          add: "."
          default_author: github_actions
